<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Super Saiyan Two Component</title>
</head>
<body>
  <fieldset>
      <legend>SuperSaiyanTwoComponent</legend>
      Power Level: {{ updatedPower }}

      <p *ngIf='updatedPower > 9000 && updatedPower < 20000'>"Over 9000!"</p>
      <p *ngIf='updatedPower > 19999 && updatedPower < 50000'>"Superlative!"</p>
      <p *ngIf='updatedPower > 49999'>"The One"</p>


  </fieldset>
</body>
</html>